@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
    background-color: #121212;
    color: #cac4c4;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #fff;
}

h1 {
    color: #d388e2;
}

p {
    width: 80%;
}

blockquote {
    font-style: italic;
    color: #d388e2;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

img {
    margin: 20px;
}
