@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html {
    padding-left: 10px;
}

body {
    background-color: #121212;
    color: #cac4c4;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #fff;
}

h1 {
    color: #d388e2;
}

p {
    width: 80%;
}

blockquote {
    font-style: italic;
    color: #d388e2;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

img {
    margin: 20px;
    width: 90%;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #202020;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}
