@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* vars */

:root {
  --surface1: #121212;
  --surface2: #1e1e1e;
  --surface3: #222222;
  --surface4: #242424;
  --surface5: #272727;
  --surface6: #2c2c2c;
  --surface7: #2e2e2e;
  --surface8: #333333;
  --surface9: #343434;
  --surface10: #383838;
  --text-color: #cac4c4;
  --primaryaccent1: #bb86fc;
  --primaryaccent2: #3700b3;
  --secondaryaccent: #03dac5;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*styles start*/

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--surface1);
  color: var(--text-color);
}

.nav {
  text-align: center;
  background-color: var(--surface2);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: (--box-shadow);
  overflow: hidden;
}

.nav a {
  float: left;
  text-decoration: none;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 0px;
  margin: 10px;
}

.header {
  text-align: center;
  background-color: var(--surface2);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: (--box-shadow);
}

.section {
  text-align: center;
  background-color: var(--surface2);
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: (--box-shadow);
}

.social-card {
  margin: auto;
  padding: 15px;
  height: 100px;
  width: 300px;
  background-color: #d4d4d4;
  border-radius: 15px;
}
